<ion-view view-title="Charge">
  <ion-content>
    <div class="logo">
      <img src="img/logo.png" alt="" />
    </div>
    <div class="list">

      <div class="item item-button-right" ng-repeat="item in receipt.lineItems">
        {{ item.text }}-- <input type="text" name="name" value="$ {{ item.value }}" class="price">
        <button class="button button-balanced button-add" ng-click="addContacts(item);">
          <i class="fa fa-plus-circle"></i>
        </button>
        <button class="button button-assertive button-inline" ng-click="removeItem($index, item);">
          <i class="fa fa-times"></i>
        </button>
        <div class="people-added" ng-if="item.owners">
          <p>
            Assigned to:
          </p>
          <label class="name" ng-repeat="owner in item.owners">
            {{ owner.initials }}
            <a ng-click="removeContact($index);"><i class="fa fa-times"></i></a>
          </label>
        </div>
      </div>

      <div class="center">
        <button class="button button-block button-dark" ng-click="addItem()"> <i class="fa fa-plus-circle"></i> Add another item</button>
        <button class="button button-block button-royal" ui-sref="^.settings"> <i class="fa fa-credit-card"></i> Add/Update Credit Cart</button>
        <button class="button button-block button-balanced" ui-sref="^.complete"><i class="fa fa-square-o"></i> Be Square</button>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="templates/add.html" type="text/ng-template">
  <ion-header-bar>
    <h1 class="title">beSquare</h1>
  </ion-header-bar>
  <ion-modal-view class="create-item">
    <h3 ng-click="closeModal()" class="center"><i class="fa fa-times-circle"></i> Create Item</h3>
    <form class="padding">
      <label>Item Text</label>
      <input type="text" ng-model="newItem.text" />
      <label>Item Value</label>
      <input type="text" ng-model="newItem.value" />

      <button class="button button-block button-dark" ng-click="adding(newItem)"><i class="fa fa-plus-circle"></i> Add Item</button>
    </form>
  </ion-modal-view>
</script>
