<ion-view view-title="Charge">
  <ion-content>
    <div class="logo">
      <img src="img/logo.png" alt="" />
    </div>
    <div class="list">

      <div class="item item-button-right" ng-repeat="item for items">
        {{ item.text }} -- <input type="text" name="name" value="$ {{ item.value }}" class="price">
        <button class="button button-balanced button-add" ng-click="getContacts()">
          <i class="fa fa-plus-circle"></i>
        </button>
        <button class="button button-assertive button-inline">
          <i class="fa fa-times"></i>
        </button>
        <div class="people-added" ng-if="item.owners">
          <p>
            Assigned to:
          </p>
          <label class="name" ng-repeat="owner for item.owners">
            {{ owner.initials }}
            <a href="#"><i class="fa fa-times"></i></a>
          </label>
        </div>
      </div>

      <div class="center">
        <button type="button" class="button button-block button-dark" ui-sref="^.scan"> <i class="fa fa-plus-circle"></i> Add another item</button>
        <button type="button" class="button button-block button-royal" ui-sref="^.settings"> <i class="fa fa-credit-card"></i> Add/Update Account</button>
        <button type="button" class="button button-block button-balanced" ui-sref="^.scan"><i class="fa fa-square-o"></i> Be Square</button>
      </div>
    </div>
  </ion-content>
</ion-view>
