<ion-view view-title="Charge">
  <ion-content>
    <div class="logo">
      <img src="img/logo.png" alt="" />
    </div>
    <div class="list">


      <div class="item item-button-right" >
        <!-- ng-repeat="item in items" -->
        Chocolate Cake -- <input type="text" name="name" value="$ 12.99" class="price">
        <button class="button button-balanced button-add" ng-click=" getContacts(); buildModal()">
          <i class="fa fa-plus-circle"></i>
        </button>
        <button class="button button-assertive button-inline">
          <i class="fa fa-times"></i>
        </button>
        <div class="people-added">
          <p>
            Assigned to:
          </p>
          <label class="name">
            MF
            <a href="#"><i class="fa fa-times"></i></a>
          </label>
          <label class="name">
            SM
            <a href="#"><i class="fa fa-times"></i></a>
          </label>
          <label class="name">
            AL
            <a href="#"><i class="fa fa-times"></i></a>
          </label>
        </div>
      </div>

      <div class="center">
        <button class="button button-block button-dark" ng-click="addItem()"> <i class="fa fa-plus-circle"></i> Add another item</button>
        <button class="button button-block button-royal" ui-sref="^.settings"> <i class="fa fa-credit-card"></i> Add/Update Credit Cart</button>
        <button class="button button-block button-balanced" ui-sref="^.complete"><i class="fa fa-square-o"></i> Be Square</button>
      </div>


    </div>
  </ion-content>
</ion-view>

<script id="templates/add.html" type="text/ng-template">
  <ion-modal-view >

    <h3 ng-click="closeModal()" class="center"><i class="fa fa-times-circle"></i> Your Contacts</h3>

    <ion-content scroll="true">

      <ion-list class="list contacts">
        <ion-item class="item" ng-repeat="contact in theContacts">
          <a href="#">
            {{contact.name.formatted}}
          </a>
        </ion-item>
      </ul>
    </ion-content>
  </ion-modal-view>
</script>
