<ion-view view-title="">
  <ion-header-bar>
    <h1 class="title">beSquare</h1>
  </ion-header-bar>
  <ion-content>
    <div class="logo">
      <img src="img/logo.png" alt="" />
    </div>
    <form ng-submit="doLogin()">
      <div class="list ">
        <label class="item item-input padding item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username">
        </label>

        <label class="item item-input padding item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password">
        </label>

        <label class="item padding">
          <button class="button button-block button-balanced" type="submit">Log in</button>
        </label>
      </div>

        <div class="center">
          <a href="#" ui-sref="^.signup" clas="btn-link">Register</a>
        </div>
    </form>
  </ion-content>
</ion-view>
