<ion-view view-title="Split IT">
  <ion-header-bar>
    <h1 class="title">beSquare</h1>
  </ion-header-bar>
  <ion-content>
    <div class="center">
      this is some cool shit
    </div>
    <div class="item">
      <a ui-sref="^.history" class="button button-block button-royal" ><i class="fa fa-book"></i> History</a>

      <a href="#" ng-click="scan()" class="button button-block button-balanced" ><i class="fa fa-camera"></i> Scan Item</a>
      <a ui-sref="^.history" class="button button-block button-royal" ><i class="fa fa-book"></i> History</a>
      <a ui-sref="^.settings" class="button button-block button-energized" ><i class="fa fa-cogs"></i> Settings</a>
      <a ui-sref="^.search" class="button button-block button-primary" ><i class="fa fa-users"></i> Contacts thing</a>
    </div>
  </ion-content>
  <!-- <div class="bar bar-footer">
  <button class="button button-clear">Resolve</button>
  <div class="title">Split IT</div>
  <button class="button button-clear">Settings</button>
</div> -->
</ion-view>
