<ion-modal-view view-title="Main">
  <ion-header-bar>
    <h1 class="title">splitIT</h1>
  </ion-header-bar>
  <ion-content>
    <h1 class="title">splitIT</h1>
    <h2>You focus on the fun, we'll worry about the bill.</h2>
    <form ng-submit="doLogin()">
      <div class="list">
          <a href="#" ui-sref="app.upload" class="button button-block button-balanced" ><i class="fa fa-camera"></i> Scan Item</a>
          <a href="#" ui-sref="app.main" class="button button-block button-royal" ><i class="fa fa-book"></i> History</a>
          <a href="#" ui-sref="app.main" class="button button-block button-energized" ><i class="fa fa-cogs"></i> Settings</a>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
