<ion-view view-title="New Issue">
  <ion-header-bar>
    <h1 class="title">beSquare</h1>
  </ion-header-bar>
  <ion-content>
    <h1><i class="fa fa-square-o"></i></h1>
    <div class="list new-issue">
      <a href="#" ng-click="scan()" class="button button-block button-dark" ><i class="fa fa-camera"></i> Scan Receipt</a>


      <!-- <label class="item item-input item-floating-label">
        <span class="input-label">Describe the problem</span>
        <textarea placeholder="Describe the problem"></textarea>
      </label>



      <form id="simplify-payment-form" action="" method="POST">

        <label class="item item-input item-floating-label">
          <span class="input-label">Pledge Amount</span>
          <input type="text" placeholder="Pledge Amount">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Credit Card Number</span>
          <input type="text" placeholder="Credit Card Number" id="cc-number" maxlength="20" autocomplete="off" value="" autofocus>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">CVC</span>
          <input type="text" placeholder="CVC" id="cc-cvc" type="text" maxlength="4" autocomplete="off" >
        </label>

        <label class="item item-select">
          <span class="input-label">Expiry Month</span>

          <select id="cc-exp-month">
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
          </select>
        </label>


        <label class="item item-select">
          <span class="input-label">Expiry Year</span>

          <select id="cc-exp-year">
            <option value="13">2013</option>
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
            <option value="20">2020</option>
            <option value="21">2021</option>
            <option value="22">2022</option>
          </select>

        </label>

        <button id="process-payment-btn" type="submit" class="button button-block button-balanced" ><i class="fa fa-check"></i> Create Issue</button>

      </form> -->



    </div>




  </ion-content>
  <!-- <div class="bar bar-footer">
  <button class="button button-clear">Up</button>
  <div class="title">Split IT</div>
  <button class="button button-clear">Settings</button>
</div> -->
</ion-view>
