<ion-view view-title="Signup">
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Zip</span>
          <input type="text" placeholder="Zip">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
