<ion-view view-title="Issue Name">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://ionicframework.com/img/docs/mcfly.jpg">
        <h2>Marty McFly</h2>
        <p>November 05, 2015</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
        <p>
          These mother fuckers need to fix this pothole. Here's $50.
        </p>
        <p>
          <a href="#" class="subdued">12 Pledges</a>
          <a href="#" class="subdued">$171 raised</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Pledge
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
