// ==========================================================================
// Form shit
// ==========================================================================

input[type="text"] {
  width:100%;
  display: block;
  padding:5px;
}

textarea {
  border:2px solid $var-grey;
  min-height:150px;
  padding:5px;
  max-width:100%;
}


.list .item {
  background:$var-white;
}

input[type="password"]{
    border: 1px solid #a6a6a6;
    padding:5px;
}
