// ==========================================================================
// Login Signup
// ==========================================================================


body.app\.login, body.app\.signup {
  .buttons-left {
    display: none;
  }
  .scroll-content {
    background:url('../img/bg.png');
    background-size:cover;
  }
  .scroll-content {
    padding-top:20px;
    .list {
      padding: 0 20px;
    }
    .list .item {
      background:none;
      border:none;
      padding: 5px 0px;
    }
    .buttons {
      margin-top:20px;
       .item {
        padding:0;
      }
    }
    input[type="password"], input[type="text"]{
        border: 2px solid $var-white;
        padding:5px;
        height: 45px;
        color:$var-white;
        &::-webkit-input-placeholder {
          color: $var-white;
        }

        &:-moz-placeholder { /* Firefox 18- */
          color: $var-white;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
          color: $var-white;
        }

        &:-ms-input-placeholder {
          color: $var-white;
        }
    }

    label, .input-label {
      color:$var-white;
    }
    h1 {
      font-size:120px;
      margin-bottom: 0;
      color:$var-white;
      text-align: center;
    }
  }
}




body.app\.login {
  .has-header {
    top: 0 !important;
    padding-top:65px;
  }
  .bar.bar-stable {
    display: none;
  }
  .login-btn {
    margin-top: 20px;
  }
}

.create-item {
  background:$var-green;
}
