// ==========================================================================
// Cordova and Ionic Overrides
// ==========================================================================


[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
  background:none;
}


.bar.bar-stable {
  background-color:$var-green;
  background-image:none;
  color:$var-white;
}

.bar.bar-stable .title {
  color:$var-white;
}

.bar-stable .button.button-icon {
  color:$var-white;
}

.scroll-content {
  background:$var-green;
}
/*
.item {
  background:$var-red;
  border:none;
  color:$var-white;
}

.item-complex .item-content, .item-radio .item-content {
  background:$var-red;
  color:$var-white;
}
 */

.new-issue .item-input {
  padding: 0px 10px 20px;
}
